@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.menu {
  background: black;
  display: inline-block;
  height: 70px;
  width: 100%;
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(0, 34, 59, 1) 0%,
    rgba(2, 92, 124, 1) 100%
  );
}

.title a {
  font-size: 40px;
  color: rgb(39, 53, 93);
}

.home-menu a {
  transition: 300ms;
}

.title i {
  font-size: 50px;
  transform: translateY(8px);
}

.home-menu {
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  height: 70px;
  border-bottom: rgb(126, 126, 128) 1px solid;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 3px 3px 3px 0px rgb(31, 44, 87);
}

.home-box i {
  font-size: 80px;
}

.nav-mousehover {
  opacity: 0.5;
}

.home-box {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin: 20px;
  font-size: 40px;
  border-radius: 30px;
  min-width: 300px;
  min-height: 170px;
  width: 300px;
  height: 170px;
  color: rgb(39, 53, 93);
  transition: 300ms;
}

.home-box-hover {
  background: rgb(226, 226, 226);
}

.menu-option {
  margin: auto;
  transition: 300ms;
  display: inline-block;
  margin-left: 150px;
}

.menu-option a {
  color: gray;
}

.menu-option span {
  color: aliceblue;
}

.menu a {
  text-decoration: none;
}

.mousehover {
  opacity: 0.8;
}

.content-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: 500ms;
}

.tic-tac-toe {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  min-width: 400px;
  min-height: 400px;
  width: 400px;
  height: 400px;
  border: 4px solid #2c3e50;
  border-radius: 10px;
}

.tic-tac-box {
  border: 4px solid #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #ffffff;
  background: rgb(69, 98, 143);
  user-select: none;
  transition: 300ms;
}

.tic-tac-player {
  position: flex;
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  width: 400px;
  height: 400px;
  margin-top: 50px;
}
.tic-tac-player-box {
  position: flex;
}

.player-1,
.player-2 {
  font-size: 40px;
  transform: translateY(5px);
  color: black;
  margin: auto;
  opacity: 0.2;
  transition: 300ms;
}
.player-1 {
  margin-left: 20px;
  float: left;
}
.player-2 {
  margin-right: 20px;
  float: right;
}

.turn {
  color: black;
  font-size: 30px;
  float: left;
  vertical-align: middle;
  line-height: normal;
  margin-left: 120px;
}

.active-player {
  opacity: 1;
}

.win-message {
  color: #2fb107;
  font-size: 40px;
  margin-left: 70px;
}

.win-color {
  color: #2fb107;
}

.watch-replay {
  border-radius: 10px;
  border: 2px solid rgb(69, 98, 143);
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 5px;
  font-size: 35px;
  text-align: center;
  transform: translateY(3px);
  transition: 300ms;
  color: rgb(69, 98, 143);
  text-decoration: none;
}

.replay-hover {
  background: blanchedalmond;
}

.play-again {
  border: 2px solid rgb(69, 98, 143);
  border-radius: 10px;
  color: rgb(69, 98, 143);
  height: 50px;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-bottom: 5px;
  transition: 300ms;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#map {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.map-markers {
  display: inline-block;
  width: 330px;
  height: 100%;
  overflow-y: auto;
}

.marker {
  display: absolute;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  transition: 300ms;
}

.map-text {
  font-size: 20px;
  text-align: center;
  font-size: 20px;
  color: rgb(32, 40, 85);
  height: 100%;
}

.mousehover-map {
  background: rgb(229, 246, 250);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(44, 80, 121);
}
