@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgb(34, 34, 34);
}

.title .nav-link {
  font-size: 40px;
  color: rgb(226, 233, 253);
  transition: 300ms;
  cursor: pointer;
  user-select: none;
}

.header {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  flex-basis: 70px;
  min-height: 70px;
  border-bottom: rgb(0, 0, 0) 1px solid;
  box-shadow: 3px 3px 3px 0px rgb(226, 233, 253);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  flex-basis: 30px;
  min-height: 30px;
  width: 100%;
  border-top: 1px solid black;
}

.home-box i {
  font-size: 110px;
}

.header-mousehover {
  opacity: 0.5;
}

.home-box {
  flex-wrap: wrap;
  vertical-align: middle;
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin: 20px;
  font-size: 45px;
  border-radius: 30px;
  min-width: 300px;
  min-height: 210px;
  width: 300px;
  height: 210px;
  color: rgb(226, 233, 253);
  transition: 500ms;
  cursor: pointer;
}

.home-box-hover {
  background: rgb(226, 226, 226);
  color: black;
}

.menu-option {
  margin: auto;
  transition: 300ms;
  display: inline-block;
  margin-left: 150px;
  cursor: pointer;
}

.menu-option {
  color: gray;
}

.menu-option span {
  color: aliceblue;
}

.mousehover {
  opacity: 0.6;
}

.content-container {
  user-select: none;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  transition: 500ms;
}

.tic-tac-toe {
  overflow: hidden;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  min-width: 400px;
  min-height: 400px;
  width: 400px;
  height: 400px;
}

.tic-tac-box {
  border-radius: 10px;
  border: 4px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: black;
  background: rgb(226, 233, 253);
  user-select: none;
  transition: 300ms;
  cursor: pointer;
}

.tic-tac-player {
  position: flex;
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  width: 400px;
  height: 400px;
  margin-top: 50px;
}
.tic-tac-player-box {
  position: flex;
}

.player-1,
.player-2 {
  font-size: 40px;
  transform: translateY(5px);
  color: rgb(226, 233, 253);
  margin: auto;
  opacity: 0.2;
  transition: 300ms;
}
.player-1 {
  margin-left: 20px;
  float: left;
}
.player-2 {
  margin-right: 20px;
  float: right;
}

.turn {
  color: rgb(226, 233, 253);
  font-size: 30px;
  float: left;
  vertical-align: middle;
  line-height: normal;
  margin-left: 120px;
}

.active-player {
  opacity: 1;
}

.win-message {
  color: #2fb107;
  font-size: 40px;
  margin-left: 70px;
}

.win-color {
  color: #2fb107;
}

.watch-replay {
  border-radius: 10px;
  border: 2px solid rgb(226, 233, 253);
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 5px;
  font-size: 35px;
  text-align: center;
  transform: translateY(3px);
  transition: 300ms;
  color: rgb(226, 233, 253);
  text-decoration: none;
  cursor: pointer;
}

.tic-tac-player-box .replay-hover {
  background: rgb(226, 226, 226);
  color: black;
}

.play-again {
  border: 2px solid rgb(226, 233, 253);
  border-radius: 10px;
  color: rgb(226, 233, 253);
  height: 50px;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-bottom: 5px;
  transition: 300ms;
  text-decoration: none;
  cursor: pointer;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background: rgb(34, 34, 34);
  color: rgb(226, 233, 253);
  text-align: center;
  display: flex;
}
.leaflet-popup-content {
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  font-size: 15px;
}

#map {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px black solid;
}

.sidebar-box {
  display: inline-block;
  flex-flow: wrap;
  width: 330px;
  height: 100%;
  overflow-y: auto;
  background: rgb(34, 34, 34);
  overflow-x: hidden;
}

.marker {
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: auto;
  transition: 300ms;
  text-align: center;
  background: rgb(75, 75, 75);
  border-bottom: 1px solid rgb(34, 34, 34);
  cursor: pointer;
}

.marker span {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
i {
  font-size: 30px;
}

.marker {
  color: rgb(226, 226, 226);
}

.log-text {
  margin-top: 10px;
}

.sidebar-empty-message {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  text-align: center;
  font-size: 20px;
  color: rgb(226, 233, 253);
  margin-top: 10px;
}
legend {
  color: rgb(226, 233, 253);
  text-align: center;
  font-size: 20px;
}
div .mousehover-map {
  background: white;
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(44, 80, 121);
}

input {
  height: 40px;
}

.button {
  border: 1px solid rgb(226, 233, 253);
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
  color: white;
  width: 33%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 5px;
  cursor: pointer;
}

.form {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-bottom: 10px;
}

.form-mobile {
  width: 50%;
  margin-left: 25%;
}

.close {
  float: right;
  transform: translateY(-3px);
}

.credits {
  font-size: 20px;
  color: rgb(226, 233, 253);
}

.bx-map {
  font-size: 40px;
}

.weather-container {
  color: rgb(226, 233, 253);
  margin: auto;
  min-width: 300px;
  width: 800px;
  border: rgb(226, 233, 253) 1px solid;
  min-height: 500px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(29, 29, 29);
  overflow-y: auto;
}

.weather-input {
  margin: auto;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  align-items: center;
}
.weather-input-box {
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 25px;
  border: 1px solid gray;
  text-align: center;
  background-color: rgb(226, 233, 253);
}

.weather-options {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.weather-option {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(226, 233, 253);
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  min-width: 350px;
  justify-content: center;
  cursor: pointer;
  transition: 300ms;
}

.weather-submit {
  color: rgb(226, 233, 253);
  font-size: 30px;
  width: 50%;
  height: 100px;
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(226, 233, 253);
  border-radius: 20px;
  cursor: pointer;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clicked {
  background: rgb(141, 141, 141);
}

.weather-error {
  font-size: 16px;
  color: rgb(34, 34, 34);
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgb(34, 34, 34);
  background-color: rgb(226, 233, 253);
  width: 300px;
  height: auto;
  filter: none;
}

.blur {
  filter: blur(3px);
}

.weather-close-error {
  margin-top: 10px;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 5px;
  margin: auto;
  width: 100px;
  cursor: pointer;
  margin-bottom: 10px;
}

.weather-results {
  width: 100%;
  height: 440px;
  max-height: 440px;
  overflow-y: auto;
}
.selected-option {
  width: 100%;
  border-bottom: 1px solid gray;
  height: 100px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  transition: 300ms;
}

#city {
  width: 100%;
  height: 60px;
  min-height: 60px;
  border-bottom: rgb(226, 233, 253) 1px solid;
  text-align: center;
  font-size: 30px;
}

.weather-container i {
  font-size: 40px;
  position: absolute;
  left: 0;
  margin-left: 10px;
  margin-top: 5px;
}

.bx-arrow-back {
  cursor: pointer;
}
